body {
    /* background-image: url('Abstract\ background\ light\ steel\ blue\ wallpaper\ image\ _\ free\ image\ by\ rawpixel_com\ _\ nunny\ _\ Cute\ blue\ wallpaper\,\ Cute\ desktop\ wallpaper\,\ Cute\ laptop\ wallpaper.jpg');  */
    background-image: url(image.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.container {
    text-align: center;
}

#box {
    background-color: #e1ecf2; /* Light gray background color */
    border: 2px solid #d8e7f4; /* Gray border */
    border-radius: 10px; /* Rounded corners */
    padding: 50px; /* Padding inside the div */
    max-width: 900px; /* Set maximum width */
    margin: 90 auto; /* Center the div horizontally */
}

#box h1 {
    text-align: center; /* Center align the heading */
}

#fileInput {
    margin-bottom: 10px;
    align-self: center; /* Add some space below the file input */
}

#submitButton {
    display: block; /* Make the button a block element */
    width: 100%; /* Set width to 100% */
    padding: 10px; /* Add padding */
    background-color: #a1d1ea; /* Green background color */
    color: black; /* White text color */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Add pointer cursor */
}
#FindVehicle {
    display: block; /* Make the button a block element */
    width: 100%; /* Set width to 100% */
    padding: 10px; /* Add padding */
    background-color: #a1d1ea; /* Green background color */
    color: black; /* White text color */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Add pointer cursor */
}

#submitButton:hover {
    background-color: #cbe1ec; /* Darker green on hover */
}

#dimensionsContainer {
    margin-top: 20px; /* Add some space above the dimensions container */
}




form {
    margin-top: 20px;
}

label {
    margin-right: 5px;
}

input[type="number"] {
    width: 60px;
}

button {
    padding: 8px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #45a049;
}

table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 80%;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}
